<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%- newrelic %>
    <link rel="stylesheet" href="<%= staticsBaseUrl %>app<% if (!debug) { %>.min<% } %>.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__BASENAME__ = '<%= basename %>';
      window.__LOCALE__ = '<%= locale %>';
      window.__STATICS_BASE_URL__ = '<%= staticsBaseUrl %>';
    </script>
    <script src="<%= staticsBaseUrl %>app.bundle<% if (!debug) { %>.min<% } %>.js"></script>
  </body>
</html>
